<h1>Success!</h1>
    Your changes have been saved.

    <div class="container" style="margin: 15px">
      <a href="/clients"><button class="btn btn-default">Return to Clients</button></a>
      <a href="/admin"><button class="btn btn-primary">Return to Admin</button></a>
    </div>
