<h1>Add a client</h1>

<form action="/clients" method="post">
  <div class="form-group">
    <input type="text" name="name" value="">
  </div>
<button class="btn btn-primary">Add Client</button>
</form>

<hr>

<a href="/admin"><button class="btn btn-success">Return to Admin</button></a>
