<div class="row">
  <div class="col-md-6">
    <h2>WELCOME TO SERENITY SALON</h2>
    <p>Welcome to our acclaimed, award-winning salon Serenity Salon in Covent Garden, London. We pride ourselves on discreet, attentive care, brought to you by one of the most directional teams of hair stylists in the industry. From celebrity clients and runway models, to long-standing regulars and casual passers-by, everyone receives the same inimitable service at the Serenity Salon salon. We have been voted 'best London hairdressers' and 'best London hair salon' by Timeout readers. </p>
    </div>
  <div class="col-md-2"><img class="thumb" src="images/ROSIE_S02_837.jpg"></div>
  <div class="col-md-2"><img class="thumb" src="images/ROSIE_S03_0047.jpg"></div>
  <div class="col-md-2"><img class="thumb" src="images/ROSIE_S05_0094_1.jpg"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"><img class="thumb" src="images/newhome2.jpg"></div>
  <div class="col-md-2"><img class="thumb" src="images/POP_images-01.jpg"></div>
  <div class="col-md-2"><img class="thumb" src="images/ROSIE_S01_131.jpg"></div>
  <div class="col-md-6">
    <h2>OUR HAIR CARE PRODUCTS</h2>
    <p>The Serenity Salon products are an extension to our salon, dedicated to our clients who have been loyal to us for decades, inspired by our editorial and fashion heritage and meeting the exceptional standards of our hairdressers. The haircare range offers 7 innovative shampoos, conditioners and masques, infused with antioxidants from high-quality teas to nurture, protect and promote shine. The styling range consists of 15 performance-driven styling products, incorporating unique ingredients and technologies. We also offer WAM, superb electrical tools providing power, dependability and professional results.</p>
    </div>
</div>
